// This is all horrible...
// but it works.

* {
  font-size: 16px;
  margin:0;
  padding:0;
}

body {
  overflow:hidden;
}

#drawing-canvas {
  background-color: #fff;
}

#palette {
  justify-content: space-around;
  transform: translate(-50%, 0);
  position: fixed;
  display: flex;
  height: 120px;
  bottom: 0;
  left: 50%;
  padding-bottom: 20px;
  pointer-events: none;

  .color {
    margin: 20px;
    pointer-events: all;
    width: 80px;
    cursor: pointer;
    height: 80px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0);
    &:hover {
      border: 10px solid rgba(255, 255, 255, 0.8);
    }
    &.selected {
      border: 10px solid rgba(204, 204, 255, 0.7);
    }
  }
}

#layers {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  right: 0px;
  height: 100%;
  pointer-events: none;

  margin: 40px;

  .layer {
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #cacaca;
    border-radius: 2%;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .active {
    border: 2px solid rgb(255, 128, 0);
  }

  .layer:hover {
    background-color: rgba(255, 255, 255, 1.0);
  }
}

.hidden {
  display: none;
}

#help.visible {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #cdcdcd;
  background-color: rgb(240, 240, 240);
  width: 50%;
  height: 50%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .header {
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      border: 0;
      font-size: 1.5rem;
      cursor: pointer;
      height: 1rem;
    }
  
    h2 {
      font-size: 3rem;
    }
  }

  h3 {
    font-size: 2rem;
    height: 4rem;
  }

  .body {
    display: flex;
    flex-direction: row;
    height: 100%;

    .left {
      width: 50%;
      padding-right: 2rem;
      p {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .right {
      width: 50%;

    dl.inline-flex {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      width: 100%;
      /* set the container width*/
      overflow: visible;
    }

    dl.inline-flex dt {
      font-size: 1.5rem;
      height: 2rem;
      flex: 0 0 15%;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    dl.inline-flex dd {
      font-size: 1.5rem;
      flex: 0 0 85%;
      height: 2rem;
      margin-left: auto;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    }
  }
    
}
