* {
  font-size: 16px;
  margin:0;
  padding:0;
}

body {
  overflow:hidden;
}

#drawing-canvas {
  background-color: #fff;
}

#palette {
  justify-content: space-around;
  transform: translate(-50%, 0);
  position: fixed;
  display: flex;
  height: 120px;
  bottom: 0;
  left: 50%;
  padding-bottom: 20px;
  pointer-events: none;

  .color {
    margin: 20px;
    pointer-events: all;
    width: 80px;
    cursor: pointer;
    height: 80px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0);
    &:hover {
      border: 10px solid rgba(255, 255, 255, 0.8);
    }
    &.selected {
      border: 10px solid rgba(204, 204, 255, 0.7);
    }
  }
}

#layers {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  right: 0px;
  height: 100%;
  pointer-events: none;

  margin: 40px;

  .layer {
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #cacaca;
    border-radius: 2%;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .active {
    border: 2px solid rgb(255, 128, 0);
  }

  .layer:hover {
    background-color: rgba(255, 255, 255, 1.0);
  }
}
